{{ shebang_bash }}
# {{ ansible_managed }}

{{ firewall_header_status }}
{{ firewall_header_v6 }}

{{ ifaces }}

{% set merged = firewall_v4_and_v6_default_rules.copy() %}
{% set _ = merged.update(firewall_v6_default_rules) %}
{% set _ = merged.update(firewall_v4_and_v6_group_rules) %}
{% set _ = merged.update(firewall_v6_group_rules) %}
{% set _ = merged.update(firewall_v4_and_v6_host_rules) %}
{% set _ = merged.update(firewall_v6_host_rules) %}

# flush rules
{% for rule in firewall_v4_and_v6_flush_rules %}
ip6tables_ {{ rule }};
{% endfor %}

# flush rules v6
{% for rule in firewall_v6_flush_rules %}
ip6tables_ {{ rule }};
{% endfor %}

{% for group, rules in merged|dictsort %}
# {{ group }}
{% if not rules %}
# (none)
{% endif %}
{% for rule in rules %}
ip6tables_ {{ rule }};
{% endfor %}

{% endfor %}

{% if firewall_custom_configure and not firewall_v4_configure %}
firewall_custom_rules="{{ iptables_custom_config }}";
if [ -f "${firewall_custom_rules}" ]; then
  ${firewall_custom_rules} || status_code="${?}";
fi;
{% endif %}

{{ firewall_footer_status }}
